body{
	overflow: visible;
}
.room{
	margin-left: 80px;
	margin-top: 30px;
	margin-right: 70px;
	display: flex;
	justify-content: center;

	background: rgba(255, 255, 255, 0.52);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);

}

#roomName{
	margin: 20px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

#empty{
	display: block;
}
/*.content_room{
	display: hidden;
}
