* {
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 font-family: "Lato", sans-serif;
	 line-height: 1;
}
 body {
	 background-color: #002038;
	 
}
.content-general{
	margin-left: 80px;
	height: 100%;
}

p,label{
	color: white;
}

.roomName{
	font-size: x-large;
	font-weight: bold;
}
